@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body {
  background-color: rgb(248, 248, 248);
  height: 100%;
  font-family: 'Raleway', sans-serif;
}  

.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}


.App-intro {
  font-size: large;
}

.page-title {
  text-align: center;
}

.app-container{
  height: 100%;
  margin: 20px 10%;
  padding: 0 5% 0;
  background-color: rgb(255, 255, 255);
}

h1{
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
