body {
  background-color: rgb(173, 177, 178);
}
.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(173, 177, 178);
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}


.App-intro {
  font-size: large;
}

.page-title {
  text-align: center;
}

.container{
  margin: 5% 15%;
  border: .5px solid black;
  padding: 0 5% 0;
  background-color: rgb(232, 236, 237);

}

h1{
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
