.auth-input-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.input-form{
  display: flex;
  flex-direction: column;
  align-self: center;
  /*padding: 15px;*/
}

.auth-input-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
}

.input-form div {
  padding: 10px;
}

.form-label {
  padding-right: 10px;
  width: 110px;
}

input {
  width: 150px;
  padding: 1px 0;
  margin:1px 0;
}

button {
  width: 75px;
}