.user-input{

}

.event-input-form{
  padding-bottom: 50px;
  border: .25px solid rgb(205, 205, 205);
}

.input-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

div.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

div.input-row > label{
  flex-basis: 20%;
  padding-right: 10px;
}

div.input-row > input {
  flex-basis: 60%;
  height: 20px;
}

.input-row > textarea {
  flex-basis: 60%;
}

.button-row {
  justify-content: space-around;
}
.submit-button {
  border: .25px solid rgb(205, 205, 205);
  height: 25px;
  width: 20%;
}
