div.modal {
  /*transform: translate(95%, 2%);*/
  position:absolute;
  top:2.5%;
  right:10%;
  width: 180px;
  height: 90px;
  border: .5px solid black;
  background-color: rgb(219, 219, 219);
  z-index: 1;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px rgb(176,9,255);
  opacity: .75;
}

.modal-main {
  padding: 15% 10%;
  overflow-wrap: normal;
  margin: auto;
  text-shadow: .75px .75px 1px rgb(255,255,255);
  font-size: 1em;
  color: rgb(119,0,186);
  font-weight: 600;
}

div.display-block {
  display: block;
}

div.display-none {
  display: none;
}