.nav-header {
  display: flex;
  flex-flow: row | wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #gray;
  height: 80px;
  padding: 20px 20px 10px;
  background-color: white;
  border: 1px solid black;
}

.nav-links{
  flex-basis:70%;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;

}

.nav-user-status{
  flex-basis:25%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
}

.link {
  margin: 10px;
}

.toggle-user-auth {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 150px;
}

.toggle-link{
  cursor: hand;
  cursor: pointer;
  color: rgb(204,204,204);
}

.toggle-link-active{
  text-decoration: underline;
  color: rgb(0,0,0);
}
.button{
  border: .5px black solid;
  border-radius: 10%;
  padding: 2px;
  margin: 1px;
  color: rgb(204,204,204);
  
}
.button:hover{
  color: rgb(0,0,0);
  border: .75px black solid;
}

.user-display{
  font-weight: 10px;
  text-align: center;
}

a:link, a:visited, a:active{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
  color: black;    
}