.nav-header {
  display: flex;
  flex-flow: row | wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #gray;
  height: 80px;
  padding: 20px 20px 10px;
  color: white;
  border: 1px solid black;
}

.nav-links{
  flex-basis:70%;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}

.nav-user-status{
  flex-basis:25%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
}

.link {
  margin: 10px;
}

.toggle-user-auth {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}