nav {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(205, 205, 205);
}

hr{
  width:100%;
}
.nav-header {
  display: flex;
  flex-flow: row | wrap;
  margin: 0 10%;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 20px 20px 20px;    
  width: auto;
}

.icon{
  height: 80px;
  margin-right: 15px;
  /*color: rgb(176,9,255);*/
}

.navbar-link-container{
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px  0 30px ;

}

.user-display{
  flex-basis:15%;
  margin: 0 15px;
  align-self: baseline;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  font-weight: 10px;
  font-size: .75em;
  text-align: center;
}

div.icon{
  margin: 0 15px;
  border: 1px solid black;
  width: 150px;
  height: 80px;
}

.nav-links{
  flex-basis:70%;
  display: flex;
  justify-content: space-between;
  margin: 10%;
}


.nav-link {
  margin: 10px;
  /*color: rgb(176,9,255);*/
  color: rgb(166,0, 198);
  font-weight: 500;
  font-size: 1.15em;
}
a.nav-link-active {
  color: rgb(166,0, 198);
}

.link {
  margin: 10px;
}
.auth-input-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
}
.auth-input-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.toggle-user-auth {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 150px;
}

.toggle-link{
  cursor: hand;
  cursor: pointer;
  color: rgb(204,204,204);
}

.toggle-link-active{
  text-decoration: underline;
  color: rgb(0,0,0);
}
.button{
  border: .5px black solid;
  border-radius: 10%;
  padding: 2px;
  margin: 1px;
  color: rgb(0,0,0);
}
.button:hover{
  color: rgb(0,0,0);
  border: .75px black solid;
}

div.user-display{
  margin: auto 0;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;*/
  /*font-size: 10px;*/
  /*text-align: center;  */
 }

 .user-display > p {
  margin: 5px 0;
 }

.user-display  a {
  cursor: hand;
  color: rgb(176,9,255);
}

p > a  {
  color: rgb(176,9,255);
}
a:link, a:visited {
  text-decoration: none;
}

/*a.navlink :hover{*/
a:hover{
  color: rgb(190,0,255);
  /*color: rgb(179,0,255);*/
  /*color: rgb(209,89,255)*/;
  /*color: rgb(170,0,255);*/
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .nav-header {
    flex-direction: column;
  }
  .navbar-link-container{
    flex-direction: column;
    order: 3;
  }


}
